@import '../../styles/variables.scss';

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  border-collapse: collapse;
  width: 100%;
  padding: 1rem 2rem;
  &:nth-child(even) {
    background-color: $table_el;
  }
  &_section {
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: large;
  }
  &__hover {
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: $table_hover;
    }
  }
}

.icon {
  color: $icon;
  font-size: 2rem;
}

.details {
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  opacity: 0;
  &__animate {
    max-height: 50rem;
    opacity: 1;
  }
}

.error {
  color: $error;
  font-size: large;
}

.material_info {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  & > p {
    font-size: large;
  }
}
